#code1 {
	margin: 15px 0 0;
}
.btn-con {
	bottom: 44px !important;
}
.from-group {
	max-width: 350px;
	margin-left: 10px;
	z-index: 1000;
}
.vcode {
	margin: 0 5% !important;
}

/*#wishLists-tr .wishTd {
	background-color: red;
}*/

#wishLists-tr .wishMessage {
	cursor: pointer;
}
.hidehead,
.hidename {
	display: none !important;
}