<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RoseToMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/mui.min.js"></script>
    <script src="js/mustache.min.js"></script>
    <script src="javascripts/socketio.js"></script>
    <script src="javascripts/client_flowers.js"></script>
    <style>
      
    </style>
</head>

<body background="#fff">
  <div class="header">
    <img src="img/logo.png" class="title">
  </div>
  <div class="login">
    <form class="mui-input-group">
      <div class="mui-input-row">
          <label>手机号：</label>
      <input type="text" class="mui-input-clear" placeholder="请输入手机号" maxlength="11" oninput="handleCommentInputChange(event)" id="telInput">
      </div>
      <div class="mui-input-row">
          <label>密码：</label>
          <input type="password" class="mui-input-password" placeholder="请输入密码" id="passInput">
      </div>
      <div class="mui-button-row" style="margin-top: 10px;">
          <button type="button" class="mui-btn btn left" onclick="handleCommentSubmit()">登录</button>
          <a href="/register"><button type="button" class="mui-btn btn">注册</button></a>   
      </div>
      <a href="/forgetPass"><div class="pass">忘记密码?</div></a>
    </form>
    <div class="footer">
      <a href="tel:4001-510-521"><p style="margin: 0px"><span class="mui-icon mui-icon-phone" style="font-size: 20px"></span>4001-510-521</p></a>
      <p style="margin: 0px">甄选世界顶级玫瑰，只为最深爱意表达</p>
    </div>
  </div>
  
  <!--loading-->
    <div id="over" class="over2" style="display: none;"></div>
      <div id="layout" class="layout" style="display: none;">
          <div class="loading">
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
          </div>
      <p class="loading-text">正在登陆，请稍后～</p>
    </div>

</body>
<script type="text/javascript">
  function telCheck (string) {  
    var pattern = /^1[34578]\d{9}$/;  
    if (pattern.test(string)) {  
        return true;  
    }  
    // console.log('check mobile phone ' + string + ' failed.');  
    return false;  
  };
  function handleCommentInputChange(e) {
    var inputVal = e.target.value;
    if (inputVal.length >11) {
      mui.toast("手机号码不能超过11位");
    }
  }
  function handleCommentSubmit() {
  if (document.getElementById('telInput').value == "") {
    mui.toast("手机号码不能为空！");
  } else if (document.getElementById('passInput').value == "") 
  {
    mui.toast("密码不能为空");
  } else if (!telCheck(document.getElementById('telInput').value)) {
      mui.toast("您输入的电话号码有误，请检查！");
  } else {
    // document.getElementById('commentInput').disabled=true;
    showLoading();
    var telInput = document.getElementById('telInput').value;
    var passInput = document.getElementById('passInput').value;
    console.log("==>>>"+telInput,passInput);
    login(telInput, passInput, new function(){
      this.successCallback = function(message) {
        // console.log("succeed" + message);
        localStorage.setItem('loginPhone', telInput);
        window.location.href = "/main";
        hideLoading();
      };
      this.errorCallback = function(message) {
        mui.toast("密码错误");
        hideLoading();
      };
      this.connectCallback = function(message) {
        console.log('connectSucceed' + message);
      };
      this.disconnectCallback = function(message) {
        console.log('disconnect' + message);
      };
      this.socketErrorCallback = function(message) {
        console.log('socketError' + message);
      };
      this.newMessageCallback = function(message){
        console.log('newMessages：' + JSON.stringify(message));  
      };
    });
    
    // mui.ajax('/NewIns/wanx/addNiComment', {
    //   data: {
    //     commentObjId:localStorage.getItem('deliveryId'),
    //     // commentObjId: 1,
    //     // commentObjType: 1,
    //     commentObjType: localStorage.getItem('qnType'),
    //     content: inputVal
    //   },
    //   dataType: 'json',
    //   type: 'post',
    //   timeout: 10000,
    //   success: function(data) {
    //     if (data.errorCode == "001") {
    //       mui.toast("你写的内容太敏感，我怕被查水表...");
    //       document.getElementById('commentInput').disabled=false;
    //       hideLoading();
    //     } else {
    //       hideLoading();
    //       // getNewCommentList();
    //       mui.toast("评论成功！");
    //       // document.getElementById("commentInput").value="";
    //       // document.getElementById('commentInput').disabled=false;
    //       location.href = document.referrer;
    //     }
    //   },
    //   error: function(data) {
    //     mui.toast("由于网络原因，评论失败，请重新提交！");
    //   }
    // });
  } 
}
function hideLoading() {
    document.getElementById("over").style.display = "none";
    document.getElementById("layout").style.display = "none";
}
function showLoading() {
    document.getElementById("over").style.display = "block";
    document.getElementById("layout").style.display = "block";
}
</script>
</html>
